@media (max-width: 580px){
dd {
    font-size: 0.7rem;
  }
  dt {
    font-size: 0.9rem;
  }
 h5{
    padding-left: 20px;
 }
 responsive-1{
    padding-left: 20px;
 }
 p{
    padding-left: 20px;
 
 }
}
