.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 1.5rem;
}
.subtitle {
  font-size: 1rem;
}
.p-Size {
  font-size: 0.7rem;
}

.login-Link {
  color: black;
}
.bg-Img {
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(../../../bgLogin.png);
  height: 100%;
  background-size: cover;
}

.upload-Btn {
  background-color: ;
}
